{% extends "./_base.html" %}
{% block body %}
<div class="mdui-col-md-6 mdui-col-sm-8 mdui-col-xs-12">
  <div class="post-box">
    <h1>{{article.title}}</h1>
    <div class="other-info" style="padding: 5px;border-bottom: 1px solid #ddd;color: #999;">
      <span>
        <i class="mdui-icon material-icons">&#xe192;</i>
        {{article.updated_at|date:"Y-m-d"}}
      </span>
      <span>
        <i class="mdui-icon material-icons">&#xe060;</i>
        {{article.category}}
      </span>
      <span>
        <i class="mdui-icon material-icons">&#xe417;</i>
        {{article.view_times}}
      </span>
    </div>
    {% autoescape off %}
    <div class="post">
      {{article.body}}
    </div>
    {% endautoescape %}
  </div>
  <div class="mdui-row-xs-4 mdui-grid-list recommend-box">
    {% for article in bottom_recommend %}
    <div class="mdui-col">
      <a href="{% url 'article:detail' article.id %}" target="_blank" title="{{article.title}}">
        <span class="img-box">
          <img src="{{article.head_img}}"/>
        </span>
        <span class="tip">{{article.title}}</span>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}